{% extends 'base.html' %}
{% block content %}
{% load humanize %}


        
        
   
        <div class="container my-5 d-flex justify-content-center align-items-center my-5 ">
            <div class="card mb-3 " >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ product.picture.url }}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body d-flex flex-column gap-2">
                      <h5 class="card-title my-4"> {{ product.name }}</h5>
                      <p class="card-text">{{ product.description }} as a natural lead-in to additional content. This content is a little bit longer.</p>
                      {% if product.is_sale %}
                      <h5 class="card-title my-4"> <strike> {{ product.sale_price | intcomma }}</strike>     {{ product.price | intcomma }}</h5>
                      {% else %}
                      <h5 class="card-title "> {{ product.price | intcomma }}</h5>
                      {% endif %}
                      <div class="">
                        <button class="btn btn-secondary" type="button" value="{{ product.id }}" id="add-cart">اضافه کردن به سبد خرید </button>
                      <a class="link text-decoration-none btn btn-secondary " href="{% url 'home' %}">بازگشت به صفحه اصلی</a>


                      </div>
                      
                      
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <script>
          $(document).on('click', '#add-cart', function(e) {
            e.preventDefault();
            $.ajax({
              type: "POST",
              url: "{% url 'cart_add' %}",
              data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
              },
              success: function(json) {
                document.getElementById('cart-quantity').textContent = json.quantity
              },
              error: function(xhr, errmsg, err) {
                console.error(xhr.status + ": " + xhr.responseText);
              }
            });
          });
        </script>
        
{% endblock %}